[influxdb]

port = 8086
hostname = 10.10.4.9
username = pihole
password = allthosesweetstatistics
database = pihole

# Time between reports to InfluxDB (in seconds)
reporting_interval = 10


[pihole]
api_location = http://127.0.0.1/admin/api.php
instance_name = pihole

#[pihole_2]
#api_location = http://192.168.0.1/admin/api.php
#instance_name = second_pihole
