
[Unit]
Description=Pi-hole-Influx - Send Pi-hole statistics to InfluxDB for visualization
Documentation=https://github.com/janw/pi-hole-influx
After=network-online.target

[Service]
User=pi
Type=notify
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python /home/pi/pi-hole-influx/piholeinflux.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

