
[Unit]
Description=Pi-hole-Influx - Send Pi-hole statistics to InfluxDB for visualization
Documentation=https://github.com/janw/pi-hole-influx
After=network-online.target

[Service]
User=pi
Type=simple
Environment=PYTHONUNBUFFERED=true
WorkingDirectory=/home/pi/pi-hole-influx
ExecStart=/usr/bin/python3 ./piholeinflux.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
