
[Unit]
Description=Pi-hole-Influx - Send Pi-hole statistics to InfluxDB for visualization
After=network-online.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python /home/pi/pi-hole-influx/piholeinflux.py > /tmp/pihole_influx.log 2>&1

[Install]
WantedBy=multi-user.target

