influxdb_url = "http://127.0.0.1:8086"
influxdb_token = "asdf1234=="
influxdb_org = "eee000"
influxdb_bucket = "pihole"

request_timeout = 3  # in seconds
request_verify_ssl = "True"  # must be a string of true/false
reporting_interval = 15 # in seconds

# Multiple instances are placed in an array of tables under `instances`
[[instances]]
name = "pihole"
base_url = "http://127.0.0.1/"
api_token = "dummy"

[[instances]]
name = "second-instance"
base_url = "http://192.168.0.1/some/subpath"
api_token = "dummy"
